In [48]:
li=[[1,2,3,4,5,6],['w','w','e','d','a','x'],['!','@','$','$','%','%'],[1,2,3,4,5,6],[1,2,3,4,5,6],[1,2,3,4,5,6],[1,2,3,4,5,6],[1,2,3,4,5,6],[1,2,3,4,5,6],[1,2,3,4,5,6],[1,2,3,4,5,6],[1,2,3,4,5,6],[1,2,3,4,5,6],[1,2,3,4,5,6],[1,2,3,4,5,6],[1,2,3,4,5,6],[1,2,3,4,5,6],[1,2,3,4,5,6],[1,2,3,4,5,6],[1,2,3,4,5,6],[1,2,3,4,5,6],[1,2,3,4,5,6]]

import pandas as pd

df=pd.DataFrame(li)

df.head(5)

   0  1  2  3  4  5
0  1  2  3  4  5  6
1  w  w  e  d  a  x
2  !  @  $  $  %  %
3  1  2  3  4  5  6
4  1  2  3  4  5  6

In [55]:
for i in df.index[-12::1]:
    print(str(i)[0])

1
1
1
1
1
1
1
1
1
1
2
2

In [51]:
df.index[-12::1]

RangeIndex(start=10, stop=22, step=1)

In [50]:
len(df)

22

In [56]:
df[:5]

   0  1  2  3  4  5
0  1  2  3  4  5  6
1  w  w  e  d  a  x
2  !  @  $  $  %  %
3  1  2  3  4  5  6
4  1  2  3  4  5  6